# --- Python / venv / cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# --- OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Data & sorties locales
data/
reports/
vector_store/
docs_rag/**/cache*/
logs/
*.log

# --- Modèles/artefacts volumineux
model/*.pkl
model/*.joblib
*.onnx
*.pt
*.bin

# --- Streamlit
.streamlit/**/credentials.toml
.streamlit/**/secrets.toml

# --- Notebooks checkpoints
.ipynb_checkpoints/

# --- Build / dist
dist/
build/
